<div id="sidebar">
  <div id="sb-brand">
    <i class="fa fa-folder-open fa-lg"></i> 
    <strong>{{ 'CompanyName' | translate }}</strong>
    <hr>
  </div>

  <div id="sb-list">
    <ul class="list-unstyled">
      <li ui-sref-active="active">
        <a ui-sref="files">{{ 'Files' | translate }}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="home">{{ 'Photos' | translate }}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="sharing">{{ 'Sharing' | translate }}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="events">{{ 'Events' | translate }}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="get-started">{{ 'GetStarted' | translate }}</a>
      </li>
    </ul>  
  </div>
</div>