/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/components-font-awesome/fonts/";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html {
  height: 100%;
}

body {
  min-height: 100%;
}

a, button {
  -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease;
}

h2 {
  color: #444;
}

@media (min-width: 768px) {
  #content-wrap {
    padding-left: 20%;
    position: relative;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
